.descriptionBlock {
   padding: 10px;
}
.img {
}
/* .profileInfo {
   background-image: url("https://theinpaint.com/images/example-1-2.jpg");
   background-position: 0 0;
   background-repeat: no-repeat;
   background-size: cover;
} */
